/*-- scss:rules --*/
// $toc-color: #2fa4e7 !important; /* Blue hover color */

.sidebar a:hover {
  color: #2fa4e7 !important; /* Replace with your desired hover color */
}

/* Active link color and optional left border */

.sidebar-item-text.sidebar-link.active {
  color: #2fa4e7 !important;
  font-weight: bold;
}

/* Default section header font */
.sidebar-item-text.sidebar-link.text-start {
  // font-size: 1.2em; /* Adjust as needed */
  font-weight: bold; /* Or 'normal', 'lighter', etc. */
  // color: #2fa4e7;
  /* Add other styles like color, text-transform, etc. */
}